.bomb {
  color: black;
  height: full;
  width: full;
  position: relative;
  padding: 0;
}
.bomb::before,
.bomb::after {
  padding: 0;
  color: white;
  content: "Good";
  position: absolute;
  width: 100%;
  height: 100%;
  background: yellow;
  overflow: hidden;
  top: 0;
}

.bomb::before {
  left: 3px;
  text-shadow: -2px 0 red;
  animation-name: glitch-animation-1;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: reverse-alternate;
}

.bomb::after {
  left: -3px;
  text-shadow: -2px 0 blue;
  animation-name: glitch-animation-2;
  animation-duration: 0.8s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: reverse-alternate;
}

@keyframes glitch-animation-1 {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip-path: inset(
        (random(100) / 100 * 100%) 0% (random(100) / 100 * 100%) 0%
      );
      //clip-path: inset(50% 0% 0% 30%);
    }
  }
}

@keyframes glitch-animation-2 {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      //clip-path: inset(100% 100% 100% 100%);
      clip-path: inset(
        (random(100) / 100 * 100%) 0% (random(100) / 100 * 100%) 0%
      );
    }
  }
}
